@import url("https://use.typekit.net/sjm8rub.css");
@import url("./styles/dracula.css");

/* PublicSans taken from google fonts */
/* normal, extra-light aka weight=200 */
@font-face {
  font-family: 'Public Sans';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-ExtraLight.woff2') format('woff2'),
       url('/fonts/PublicSans/PublicSans-ExtraLight.woff') format('woff');
}
/* normal, regular aka weight=400 */
@font-face {
  font-family: 'Public Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-Regular.woff2') format('woff2'),
       url('/fonts/PublicSans/PublicSans-Regular.woff') format('woff');
}
/* normal, bold aka weight=700 */
@font-face {
  font-family: 'Public Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-Bold.woff2') format('woff2'),
       url('/fonts/PublicSans/PublicSans-Bold.woff') format('woff');
}
/* italic, regular aka weight=400 */
@font-face {
  font-family: 'Public Sans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-Italic.woff2') format('woff2'),
       url('/fonts/PublicSans/PublicSans-Italic.woff') format('woff');
}
/* italic, bold aka weight=700 */
@font-face {
  font-family: 'Public Sans';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-BoldItalic.woff2') format('woff2'),
       url('/fonts/PublicSans/PublicSans-BoldItalic.woff') format('woff');
}
/* italic, black aka weight=900 */
@font-face {
  font-family: 'Public Sans';
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/PublicSans/PublicSans-BlackItalic.woff2') format('woff2'),
       url('/fonts/PublicSans/PublicSans-BlackItalic.woff') format('woff');
}

/* RobotoMono taken from google fonts */
/* - regular aka weight=400 */
@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
       url('/fonts/RobotoMono/RobotoMono-Regular.woff') format('woff');
}
/* - bold aka weight=700 */
@font-face {
  font-family: 'Roboto Mono';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'),
       url('/fonts/RobotoMono/RobotoMono-Bold.woff') format('woff');
}

/* TODO: Handle Cambon properly */
@font-face {
    font-family: 'Cambon';
    src: url('/fonts/cambon/Cambon-Bold.eot');
    src: local('Cambon Bold'), local('Cambon-Bold'), url('/fonts/cambon/Cambon-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/cambon/Cambon-Bold.woff2') format('woff2'), url('/fonts/cambon/Cambon-Bold.woff') format('woff'), url('/fonts/cambon/Cambon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
  ::selection {
    @apply bg-sulu text-black
  }

  html, body {
    @apply bg-white dark:bg-licorice font-sans text-black dark:text-white m-0 p-0 scroll-smooth;
  }

  /* FORM FIELDS */
  label {
    @apply block text-battleshipGray font-bold text-sm tracking-wide uppercase mb-2;
  }

  .auth-form {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      @apply border-battleshipGray bg-transparent text-lg text-black dark:text-white px-7 h-[54px] w-full rounded-[4px] mb-7 border-1;
    }

    input[type="text"]:disabled,
    input[type="password"]:disabled,
    input[type="email"]:disabled {
      @apply bg-gray-100;
    }
  }

  textarea {
    @apply mb-4 bg-[#251d18] p-7
  }

  input[type="checkbox"] {
    @apply hidden;
    label:has(&) { @apply bg-[url('/images/checkbox--unchecked.svg')] bg-no-repeat bg-left-top min-h-[32px] leading-8 pl-10 font-normal text-lg text-white normal-case cursor-pointer }
    label:has(&:checked) { @apply bg-[url('/images/checkbox--checked.svg')]}
  }

  hr {
    @apply border-t-1 w-full border-maiTai bg-transparent
  }

  section {
    @apply mb-[270px]
  }

  svg {
    @apply fill-current;
  }

  table {
    @apply w-full mb-5;
  }

  td {
    @apply border-1 border-neutral-200 dark:border-neutral-800 p-2;
  }

  /* -------------------------- HEADER ------------------------------------- */
  /* logo - right click menu */
  .right-click-menu {
    @apply bg-licorice rounded-[4px] border-1 border-maiTai relative w-[280px] shadow-lg
  }

  /* triangle border */
  .right-click-menu:before {
    @apply content-[''] block w-0 h-0  border-[15px] border-transparent border-b-maiTai absolute left-5 -top-[30px] z-10
  }

  /* triangle */
  .right-click-menu:after {
    @apply content-[''] block w-0 h-0  border-[15px] border-transparent border-b-licorice absolute left-5 -top-[28px] z-20
  }

  /* navigation dropdown */
  nav ul li {
    @apply text-white text-lg font-bold
  }

  nav ul li a:hover {
    @apply text-sulu
  }

  .nav-dropdown {
    @apply bg-licorice rounded-[4px] border-1 border-maiTai relative w-[380px]
  }

  .nav-dropdown:before {
    @apply content-[''] block w-0 h-0  border-[15px] border-transparent border-b-maiTai absolute right-5 -top-[30px] z-10
  }

  .nav-dropdown:after {
    @apply content-[''] block w-0 h-0  border-[15px] border-transparent border-b-licorice absolute right-5 -top-[29px] z-20
  }

  .right-click-menu ul li,
  .nav-dropdown ul li {
    @apply border-b-1 border-b-maiTai px-4 py-5 last:border-b-0
  }

  .nav-dropdown ul li a {
    @apply flex gap-3
  }

  .nav-dropdown ul li svg {
    @apply text-maiTai;
  }

  .nav-dropdown ul li strong {
    @apply font-bold text-white mb-1 text-base
  }

  .nav-dropdown ul li a:hover svg {
    @apply text-sulu
  }

  .nav-dropdown ul li p {
    @apply text-sm text-battleshipGray m-0 p-0
  }

  /* -------------------------- FOOTER ------------------------------------- */
  footer h4 {
    @apply text-xs uppercase font-black text-christi dark:text-sulu tracking-wider leading-5 mb-5
  }

  footer ul {
    @apply m-0 p-0
  }

  footer ul li {
    @apply leading-5 mb-5
  }

  footer ul li a {
    @apply hover:underline dark:hover:text-sulu hover:text-christi flex items-center justify-start
  }

  /* any links that aren't social media links */
  footer ul:not(.social) li a svg {
    @apply dark:text-battleshipGray relative -top-[2px] opacity-30 transition-all duration-300 ease-in-out
  }

  footer ul:not(.social) li a:hover svg{
    @apply text-christi dark:text-sulu translate-x-1 -translate-y-1 opacity-100
  }

  /* social media links */
  footer ul.social li a {
    @apply gap-4
  }

  footer ul.social li a svg {
    @apply text-battleshipGray
  }

  footer ul.social li a:hover svg {
    @apply dark:text-sulu text-christi
  }
}

@layer components {
  .home-hero {
    /* the background needs to be on a single line, otherwise it will break storybook */
    background: linear-gradient(180deg, rgba(24, 19, 17, 1) 0%, rgba(24, 19, 17, 0) 100px, rgba(24, 19, 17, 1) 100%), url('/images/hero.avif') center top no-repeat;
    @apply pt-7 min-h-[800px] px-5;
  }

  @media (min-width: 768px) {
    .home-hero {
      background: url('/images/hero.avif') center top no-repeat;
      @apply pt-7 min-h-[800px] px-5;
    }
  }

  .home-hero h1,
  .home-hero h2,
  .home-hero p {
    text-shadow: 0px 0px 47.827px #000;
  }

  /* -------------------------- BENTO BOX ---------------------------------- */
  .bento-box {
    @apply border-maiTai border-2 rounded-lg;
  }

  .bento-box h3 {
    @apply text-2xl leading-snug font-bold text-black dark:text-white mb-5
  }

  .bento-box p {
    @apply text-battleshipGray text-lg leading-snug
  }

  .bento-box.third {
    @apply col-span-2;
  }

  .bento-box.half {
    @apply col-span-3
  }

  /* Tags */
  .tag-soon {
    @apply text-labels-soon-text bg-labels-soon-bg
  }

  .tag-later {
    @apply text-labels-later-text bg-labels-later-bg
  }

  .tag-done {
    @apply text-labels-done-text bg-labels-done-bg
  }

  .tag-planned {
    @apply text-labels-planned-text bg-labels-planned-bg
  }

  /* buttons */
  .button {
    /* passing green - #6aa910 */
    @apply py-3 md:py-4 px-5 md:px-7 bg-[#8de112] dark:bg-sulu center text-lg font-sans font-bold text-black rounded-[4px] inline-block leading-none whitespace-nowrap
  }

  .button.outline {
    @apply border-2 border-christi hover:border-christi dark:border-sulu dark:hover:border-sulu dark:text-sulu text-christi bg-transparent hover:bg-christi dark:hover:bg-sulu cursor-pointer dark:hover:text-black
  }


  /* changelog and blog */
.blog-post h2 {
  @apply text-3xl text-black dark:text-sulu font-serif font-bold mb-2;
}

  .blog-post h3,
  .changelog h3 {
    @apply text-lg text-black dark:text-white font-bold mb-2
  }

  .blog-post p {
    @apply mb-10 text-black dark:text-white
  }

  .blog-post div[data-node-type="callout"] {
    @apply border-2 border-maiTai rounded-md pl-4 pr-8 pt-5 pb-8 mb-10 flex gap-2 leading-relaxed
  }

  .blog-post div[data-node-type="callout-emoji"] {
    @apply text-2xl relative -top-[2px];
  }

  .blog-post div[data-node-type="callout-text"] {
    @apply relative top-2
  }

  .changelog p {
    @apply mb-10 text-battleshipGray
  }

  .changelog ul {
    @apply list-disc list-inside mb-10
  }

  .blog-post ol,
  .blog-post ul {
    @apply pl-10 mb-10
  }

  .blog-post ul {
    @apply list-none
  }

  .blog-post ol {
    counter-reset: ordered-list;
  }

  .blog-post ol li {
    @apply mb-4
  }

  .blog-post li,
  .changelog li {
    @apply mb-2 relative
  }

  .blog-post code {
    @apply text-christi dark:text-sulu
  }

  .blog-post ol li {
    @apply mb-6
  }

  .blog-post ol li:before {
    counter-increment: ordered-list;
    content: counter(ordered-list);
    @apply text-maiTai font-bold absolute top-[-8px] left-[-40px] font-serif text-4xl
  }

  .blog-post ul li {
    @apply pb-6;
  }

  .blog-post ul li:before {
    @apply bg-christi dark:bg-sulu w-1 h-1 rounded-full block content-[''] absolute left-[-12px] top-[10px]
  }

  .blog-post li p {
    @apply w-[90%]
  }

  .blog-post li p:first-child {
    @apply m-0 p-0 inline-block
  }

  .blog-post a {
    @apply border-b-1 border-b-black dark:border-b-sulu border-t-1 border-t-transparent hover:text-christi dark:hover:text-sulu text-black dark:text-white
  }

  .blog-post blockquote {
    @apply border-l-[3px] border-neutral-800 pl-6 mb-10 pt-2 pb-1
  }

  .blog-post blockquote p {
    @apply text-battleshipGray
  }

  .blog-post blockquote p:last-of-type {
    @apply mb-0 pb-2
  }

  .blog-post pre {
    @apply bg-black mb-8 rounded-md py-4 px-5 overflow-x-auto
  }

  .changelog a {
    @apply border-b-1 border-b-white border-t-1 border-t-transparent hover:border-b-sulu text-white
  }

  .brand-kit-content h2 {
    @apply font-sans font-extralight text-3xl mb-6;
  }

  .brand-kit-content ul {
    @apply list-disc pl-8;
  }

  .brand-kit-content p,
  .brand-kit-content li {
    @apply font-sans text-battleshipGray text-lg leading-relaxed
  }

  .brand-kit-content li {
    @apply mb-10;
  }

  .asset-button {
    @apply py-3 md:py-4 px-5 md:px-7 center text-lg font-sans font-bold rounded-[4px] inline-block leading-none border-1;
  }

  .dark-mode .asset-button {
    @apply border-sulu hover:border-sulu text-sulu hover:bg-sulu cursor-pointer hover:text-black
  }

  .light-mode .asset-button {
    @apply border-christi hover:border-christi text-christi bg-transparent hover:bg-christi hover:text-white
  }

  .blog-post .react-tweet-theme a {
    border-bottom: 0;
  }

  ul.table-of-contents {
    @apply mx-11;
    h3 { @apply text-sm font-bold uppercase tracking-wide text-sulu }
    li { @apply pb-5 }
    li:last-child { @apply pb-0; }
    li a { @apply text-white hover:text-sulu }
    li a:has(svg) { @apply flex gap-1 items-center }
    li a svg { @apply text-maiTai}
  }

  .threaded-comment {
    @apply relative;
    &:before { @apply content-[''] block border-2 border-coffeeBean absolute h-full left-[60px] top-11 z-0; }
    &:before:last-child { @apply h-[calc(100%_-_42px)] }
  }

  .comment-footer {
    button { @apply text-maiTai hover:text-sulu; }
  }

  .tooltip {
    @apply text-white border-sulu rounded-md border-1 text-sm leading-5 py-2 px-6 bg-eerieBlack relative whitespace-nowrap pointer-events-none;
    &:after,
    &:before { @apply size-0 content-[''] block border-[8px] border-transparent absolute }
    &:after { @apply border-[10px] }
    /* top */
    &.tooltip-top:before { @apply border-t-sulu -bottom-[16px] left-1/2 -translate-x-1/2 ;}
    &.tooltip-top:after { @apply border-t-eerieBlack -bottom-[16px] left-1/2 -translate-x-1/2 ;}
    /* bottom */
    &.tooltip-bottom:before { @apply border-b-sulu -top-[16px] left-1/2 -translate-x-1/2; }
    &.tooltip-bottom:after { @apply border-b-eerieBlack -top-[16px] left-1/2 -translate-x-1/2; }
    /* left */
    &.tooltip-left:before { @apply border-l-sulu -right-[16px] top-1/2 -translate-y-1/2; }
    &.tooltip-left:after { @apply border-l-eerieBlack -right-[16px] top-1/2 -translate-y-1/2; }
    /* right */
    &.tooltip-right:before { @apply border-r-sulu -left-[16px] top-1/2 -translate-y-1/2; }
    &.tooltip-right:after { @apply border-r-eerieBlack -left-[16px] top-1/2 -translate-y-1/2; }
  }
}

@layer utilities {
  .bento {
    @apply grid grid-cols-1 gap-y-5 md:grid-cols-6 md:gap-5
  }

  .page-content {
    @apply px-5 py-14 md:px-page
  }

  .section-heading {
    @apply font-serif text-5xl md:text-6xl md:text-18 text-maiTai font-bold leading-none;
  }

  .section-subheading {
    @apply font-sans leading-normal font-extralight text-xl md:text-2xl
  }

  .view-all {
    @apply flex items-center justify-start text-xs font-sans font-bold uppercase tracking-wider text-white;
  }

  .view-all span {
    @apply border-b-1 border-b-white border-t-1 border-t-transparent hover:border-b-sulu
  }

  .center {
    @apply flex items-center justify-center;
  }

  .circle {
    @apply rounded-full aspect-square
  }

  .page-grid {
    @apply grid grid-cols-1 lg:grid-cols-12 gap-4
  }

  .dark-image,
  .light-image {
    @apply hidden;
  }

  html.dark .dark-image {
    @apply block;
  }

  html:not(.dark) .light-image {
    @apply block
  }
}
