@import url("https://use.typekit.net/sjm8rub.css");
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,400;0,700;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* TODO: Handle Cambon properly */
@font-face {
    font-family: 'Cambon';
    src: url('/fonts/cambon/Cambon-Bold.eot');
    src: local('Cambon Bold'), local('Cambon-Bold'), url('/fonts/cambon/Cambon-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/cambon/Cambon-Bold.woff2') format('woff2'), url('/fonts/cambon/Cambon-Bold.woff') format('woff'), url('/fonts/cambon/Cambon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
  ::selection {
    @apply bg-sulu text-black
  }

  html, body {
    @apply bg-white dark:bg-licorice font-sans text-black dark:text-white m-0 p-0 scroll-smooth;
  }

  hr {
    @apply border-t-1 w-full border-maiTai bg-transparent
  }

  section {
    @apply mb-[270px]
  }

  svg {
    @apply fill-current;
  }

  /* -------------------------- HEADER ------------------------------------- */
  /* logo - right click menu */
  .right-click-menu {
    @apply bg-licorice rounded-[4px] border-1 border-maiTai relative w-[280px] shadow-lg
  }

  /* triangle border */
  .right-click-menu:before {
    @apply content-[''] block w-0 h-0  border-[15px] border-transparent border-b-maiTai absolute left-5 -top-[30px] z-10
  }

  /* triangle */
  .right-click-menu:after {
    @apply content-[''] block w-0 h-0  border-[15px] border-transparent border-b-licorice absolute left-5 -top-[28px] z-20
  }

  /* navigation dropdown */
  nav ul li {
    @apply text-white text-lg font-bold
  }

  nav ul li a:hover {
    @apply text-sulu
  }

  .nav-dropdown {
    @apply bg-licorice rounded-[4px] border-1 border-maiTai relative w-[380px]
  }

  .nav-dropdown:before {
    @apply content-[''] block w-0 h-0  border-[15px] border-transparent border-b-maiTai absolute right-5 -top-[30px] z-10
  }

  .nav-dropdown:after {
    @apply content-[''] block w-0 h-0  border-[15px] border-transparent border-b-licorice absolute right-5 -top-[29px] z-20
  }

  .right-click-menu ul li,
  .nav-dropdown ul li {
    @apply border-b-1 border-b-maiTai px-4 py-5 last:border-b-0
  }

  .nav-dropdown ul li a {
    @apply flex gap-3
  }

  .nav-dropdown ul li svg {
    @apply text-maiTai;
  }

  .nav-dropdown ul li strong {
    @apply font-bold text-white mb-1 text-base
  }

  .nav-dropdown ul li a:hover svg {
    @apply text-sulu
  }

  .nav-dropdown ul li p {
    @apply text-sm text-battleshipGray m-0 p-0
  }

  /* -------------------------- FOOTER ------------------------------------- */
  footer h4 {
    @apply text-xs uppercase font-black text-christi dark:text-sulu tracking-wider leading-5 mb-5
  }

  footer ul {
    @apply m-0 p-0
  }

  footer ul li {
    @apply leading-5 mb-5
  }

  footer ul li a {
    @apply hover:underline dark:hover:text-sulu hover:text-christi flex items-center justify-start
  }

  /* any links that aren't social media links */
  footer ul:not(.social) li a svg {
    @apply dark:text-battleshipGray relative -top-[2px] opacity-30 transition-all duration-300 ease-in-out
  }

  footer ul:not(.social) li a:hover svg{
    @apply text-christi dark:text-sulu translate-x-1 -translate-y-1 opacity-100
  }

  /* social media links */
  footer ul.social li a {
    @apply gap-4
  }

  footer ul.social li a svg {
    @apply text-battleshipGray
  }

  footer ul.social li a:hover svg {
    @apply dark:text-sulu text-christi
  }
}

@layer components {
  .home-hero {
    /* the background needs to be on a single line, otherwise it will break storybook */
    background: linear-gradient(180deg, rgba(24, 19, 17, 1) 0%, rgba(24, 19, 17, 0) 100px, rgba(24, 19, 17, 1) 100%), url('/images/hero.jpg') center top no-repeat;
    @apply pt-7 min-h-[800px] px-5;
  }

  @media (min-width: 768px) {
    .home-hero {
      background: url('/images/hero.jpg') center top no-repeat;
      @apply pt-7 min-h-[800px] px-5;
    }
  }

  .home-hero h1,
  .home-hero h2,
  .home-hero p {
    text-shadow: 0px 0px 47.827px #000;
  }

  /* -------------------------- BENTO BOX ---------------------------------- */
  .bento-box {
    @apply border-maiTai border-2 rounded-lg;
  }

  .bento-box h3 {
    @apply text-2xl leading-snug font-bold text-black dark:text-white mb-5
  }

  .bento-box p {
    @apply text-battleshipGray text-lg leading-snug
  }

  .bento-box.third {
    @apply col-span-2;
  }

  .bento-box.half {
    @apply col-span-3
  }

  /* Tags */
  .tag-soon {
    @apply text-labels-soon-text bg-labels-soon-bg
  }

  .tag-later {
    @apply text-labels-later-text bg-labels-later-bg
  }

  .tag-done {
    @apply text-labels-done-text bg-labels-done-bg
  }

  .tag-planned {
    @apply text-labels-planned-text bg-labels-planned-bg
  }

  /* buttons */
  .button {
    /* passing green - #6aa910 */
    @apply py-3 md:py-4 px-5 md:px-7 bg-[#8de112] dark:bg-sulu center text-lg font-sans font-bold text-black rounded-[4px] inline-block leading-none
  }

  .button.outline {
    @apply border-2 border-sulu dark:border-sulu text-sulu dark:text-sulu bg-transparent hover:bg-sulu cursor-pointer hover:text-black
  }


  /* changelog and blog */
  .blog-post h3,
  .changelog h3 {
    @apply text-lg text-black dark:text-white font-bold mb-2
  }

  .blog-post p {
    @apply mb-10 text-black dark:text-white
  }

  .changelog p {
    @apply mb-10 text-battleshipGray
  }

  .changelog ul {
    @apply list-disc list-inside mb-10
  }

  .blog-post ol,
  .blog-post ul {
    @apply pl-10 mb-10
  }

  .blog-post ul {
    @apply list-none
  }

  .blog-post ol {
    counter-reset: ordered-list;
  }

  .blog-post ol li {
    @apply mb-4
  }

  .blog-post li,
  .changelog li {
    @apply mb-2 relative
  }

  .blog-post code {
    @apply text-sulu
  }

  .blog-post ol li {
    @apply mb-6
  }

  .blog-post ol li:before {
    counter-increment: ordered-list;
    content: counter(ordered-list);
    @apply text-maiTai font-bold absolute top-[-8px] left-[-40px] font-serif text-4xl
  }

  .blog-post ul li:before {
    @apply bg-sulu w-1 h-1 rounded-full block content-[''] absolute left-[-12px] top-[10px]
  }

  .blog-post ul li:before {
    @apply bg-sulu w-1 h-1 rounded-full block content-[''] absolute left-[-12px] top-[10px]
  }

  .blog-post li p {
    @apply w-[90%]
  }

  .blog-post li p:first-child {
    @apply m-0 p-0 inline-block
  }


  .blog-post a {
    @apply border-b-1 border-b-black dark:border-b-sulu border-t-1 border-t-transparent hover:text-christi dark:hover:text-sulu text-black dark:text-white
  }

  .blog-post blockquote {
    @apply border-l-[3px] border-neutral-800 pl-6 mb-10 pt-2 pb-1
  }

  .blog-post blockquote p {
    @apply text-battleshipGray
  }

  .changelog a {
    @apply border-b-1 border-b-white border-t-1 border-t-transparent hover:border-b-sulu text-white
  }

}

@layer utilities {
  .page-content {
    @apply px-5 py-14 md:px-page
  }

  .section-heading {
    @apply font-serif text-6xl md:text-18 text-maiTai font-bold leading-none;
  }

  .section-subheading {
    @apply font-sans leading-normal font-extralight text-2xl
  }

  .view-all {
    @apply flex items-center justify-start text-xs font-sans font-bold uppercase tracking-wider text-white;
  }

  .view-all span {
    @apply border-b-1 border-b-white border-t-1 border-t-transparent hover:border-b-sulu
  }

  .center {
    @apply flex items-center justify-center;
  }

  .circle {
    @apply rounded-full aspect-square
  }

  .page-grid {
    @apply grid grid-cols-1 lg:grid-cols-12 gap-4
  }

  .dark-image,
  .light-image {
    @apply hidden;
  }

  html.dark .dark-image {
    @apply block;
  }

  html:not(.dark) .light-image {
    @apply block
  }
}
